.addButton
  position fixed !important
  bottom 19%
  width: 90% 
  margin 0 auto
  margin-left 5%
.deleteButton
  position fixed !important
  bottom 10%
  width: 90% 
  margin 0 auto
  margin-left 5%
