.promisedbtn
  width 100%
  box-sizing border-box
  position fixed
  left 0
  bottom 30px
  padding 0 20%


.contentbox
  width 100%
  box-sizing border-box
  padding 20px 25px
  p
    margin 0
  h3
    text-align center
    margin-bottom 16px
  p.p1
    color #000
    font-weight 500
    margin-top 20px
    margin-bottom 0px
  p.p2
    margin-bottom 20px
