.item2
  float right
  width 46%
  height 90px
  background-color rgb(226,229,244)
  text-align center
  border-radius 10px
.heights
  height 100%
  text-align: center;
  line-height: 90px;

.selects
  width: 100%
  margin-bottom 20px
.InputNumber
  width: 100%
  margin-bottom 20px
  border 1px solid #000
  height 34px
  color #000


.optionsZindex
  z-index 10000 !important

.shoudong
  width 45px
  height 45px
.shoudongdesc
  color #4866F0
  margin-left 8px
  font-size 14px
