.contentbox
  width 100%
  box-sizing border-box

.fixbox
  width 100%
  height 100%
  box-sizing border-box
  position fixed
  top 0
  background-color #fff

.showqrcode
  width 50px
  height 50px
  border-radius 25px
  background-color red
  position fixed
  bottom 15px
  left 44%
  z-index 999999

.temperature
  width 100%

.temperatureuserinfo
  width 100%
  height 120px
  box-sizing border-box
  padding 0 15px
  background:url("https://img.kaikeba.com/31500282100202oavn.png") top center no-repeat
  background-size 100%

.userinfoleft
  float left
  height 100%

.avator
  width 70px
  height 70px
  border-radius 35px
  margin-top 26px
  float left
  overflow hidden
  img
    width 100%

.name
  height 100%
  float left
  box-sizing border-box
  padding-top 32px
  margin-left 16px
  h2
    margin 0
    text-align left
  p
    margin 0
    text-align left

.userinforight
  width 100px
  height 100%
  float right
  box-sizing border-box
  margin-top 36px
  margin-right 0px


.itemBox
  width: 90%
  margin: 0 auto
  .item
    display: flex
    align-items center
    padding 20px 0;
    border-bottom 1px solid #e8e2e2
    overflow hidden
    .itemName
      font-size 16px
      font-weight: 500
      width 30%
    .itemMembers
      font-size 14px
      font-weight: 400
      width 60%
.addButton
  // position fixed !important
  bottom 10%
  width: 90% 
  margin 0 auto
  margin-left 5%
  margin-top 30px

.recordsDataLists
  width: 100%
  box-sizing border-box
  padding 16px 20px

.recordsDataList
  width 100%
  overflow hidden
  position relative
  margin-bottom 10px

.listday
  width 100%
  border-bottom 1px solid #ccc
  padding-bottom 12px
  margin-bottom 12px

.listdayp
  width 100%
  font-size 22px
  margin-bottom 8px

.degrees
  float left
  font-size 18px

.createTime
  font-size 18px
  float right

.listspan
  position absolute
  left 16%
  top 2px
  display inline-block
  text-align center
  line-height 20px
  width 66px
  height 22px
  border 1px solid red
  border-radius 6px
  font-size 12px
  color red
.listspan2
  border none
.degrees1
  color red

.addfirly
  background-color #fff
  color #118FEA
