.contentbox
  width 50%
  margin 0 auto
  box-sizing border-box
  padding 15px 15px
  padding-top 60%

.formtable
  width 100%
  box-sizing border-box
  padding 30px 20px 10px

  .userinfo
    width 100%

.names
  font-size 20px
  color #000
  margin-bottom 0
  text-align left

.titles
  font-size 16px
  text-align left

.selects
  width: 100%
  margin-bottom 20px

.InputNumber
  width: 100%
  margin-bottom 20px
  border 1px solid #000
  height 34px
  color #000

