.contentbox
  width 100%
  box-sizing border-box
  padding 15px 15px
  padding-top 30px
  p
    text-align center
    margin-bottom 50px
    font-size 16px
    font-weight 600
.descript
  height 24px
